@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #f5ccb2, #c79f87);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(31, 31, 31, 0.479);
    width: 600px;
    padding: 20px;
    margin: auto;
}

h1 {
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 0px black;
}

h2 {
    color: #141291;
}

p {
    text-align: justify;
    
}